<div class="row">
  <div class="col-md-12">
    <h1>Kitten Finder</h1>
    <p><strong>By Phil Smith</strong></p>
    <p>I have been enlisted by the Police Commissioner to find the abducted kittens. With information from the Proprietors of Urgent Reconnaissance Recovery (PURR) and the use of their forensics API, I have translated the directions found at the scene into a route and we now have the location of the kitten-knapper's lair.</p>
    <p>I have also been working with a contact at the Ministry of Ecology and Ordnance Worldwide (MEOW) to translate the suspects coordinates into a latitude and longitude. We have discovered that each coordinate is equal to 0.001 when translated to a latitiude or longitude.</p>
    <p>The suspects route can be seen on the map below, starting on Devonshire Mews West and ending at her lair on Albany Street. This is very suspicious...</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4" style="text-align: center;">
    <strong>The suspect's lair is located at (<%= @final_coordinates[:x] %>,<%= @final_coordinates[:y] %>).</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
  </div>
</div>